*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


form{
    width:70%;
    border: 2px groove blue;
    border-radius:10px;
    margin:0 auto;
    padding: 100px;
}
.line{
    display:flex;
    justify-content: space-between;
        
}

h1{
    text-align:center;
    margin:50px 0;
}

label{
    margin: 10px 10px 10px 10px;
}

input{
    margin:10px 10px 10px 0;
}

.button-style{
    text-align:center;
    padding-top: 50px;
}

button{
    padding: 5px;
    border: 1px solid cadetblue;
    background-color:rgb(231, 224, 216);
    color:cadetblue;
    font-size: 1.3em;
}



  
  /* This is our style for the invalid fields */
  input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }